<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @client.name %>:</h1> 
    <p><%=@user.name%> le informa que el proximo <%=@holiday.date%> no estaremos trabajando, ya que
      es dia no laboral, por el feriado de <%=@holiday.name%>
    <br/>
      Cualquier duda, puede contactarnos a <%= @user.email %>
      Saludos!!!
    </p>
  </body>
</html>